.reminder-wrapper,
.reminder-wrapper__form,
.reminder-wrapper__form__bottom-form-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reminder-wrapper {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--main-background-color);
}

.reminder-wrapper__form {
    width: 350px;
    flex-direction: column;
}

.reminder-wrapper__form__bottom-form-line {
    flex-direction: column;
}

.reminder-wrapper__form__logo {
    width: 124px;
    height: 76px;
    margin-bottom: 30px;
}

.reminder-wrapper__form__input-email {
    width: 350px;
    height: 40px;
    font-size: 16px;
    color: var(--input-placeholder-color);
    background-color: var(--input-background-color);
    border-style: none;
    padding: 6.5px 17px;
}

.reminder-wrapper__form__submit-button {
    height: 39px;
    font-size: 16px;
    margin-top: 15px;
    padding: 6px 10px;
    align-self: flex-end;
    background-color: var(--button-background-color);
    border-style: none;
    transition: 0.3s;
}

.reminder-wrapper__form__submit-button:hover {
    cursor: pointer;
    background-color: var(--button-background-color-hover);
}
