:root {
  --main-text-color: #F7F7F7;
  --main-background-color: #222224;
  --second-background-color: #292A2B;
  --input-placeholder-color: #7E7E7E;
  --input-background-color: #292A2B;
  --button-background-color: #E02735;
  --button-background-color-hover: #9d1d27;
  --link-color: #0B8BD4;
  --shaded-element-color: #4D4D4D;
  --shaded-letters-color: #9E9E9E;
  --shaded-container-color: #222324;
  --popup-background-color: #0a0a0a;
  --clear-form-button-color: #172A35;
  --clear-form-hover-button-color: #254456;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  color: var(--main-text-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: var(--main-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
