.popup-outer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--popup-background-color);
    opacity: .5;
}

.popup-inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 706px;
    background-color: var(--popup-background-color);
}

.popup-inner-wrapper__form__cancel-button {
    width: 62px;
    height: 39px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}