:root {
    --main-text-color: #F7F7F7;
    --main-background-color: #222224;
    --input-placeholder-color: #7E7E7E;
    --input-background-color: #292A2B;
    --button-background-color: #E02735;
    --button-background-color-hover: #a91e29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    color: var(--main-text-color);
}
.login-wrapper, .login-wrapper__form, .login-wrapper__form__bottom-form-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--main-background-color);
}

.login-wrapper__form {
    width: 350px;
    flex-direction: column;
}

.login-wrapper__form__logo {
    width: 124px;
    height: 76px;
    margin-bottom: 30px;
}

.login-wrapper__form__input-email, .login-wrapper__form__input-password {
    width: 350px;
    height: 40px;
    font-size: 16px;
    color: var(--input-placeholder-color);
    background-color:var(--input-background-color);
    border-style: none;
    padding: 6.5px 17px;
}

.login-wrapper__form input + input {
    margin-top: 15px;
}

.login-wrapper__form__bottom-form-line {
    width: 100%;
    justify-content: space-between;
}

.login-wrapper__form__link-forgot {
    align-self: flex-end;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0 22px;
}

.login-wrapper__form__register-label {
    width: 60%;
    font-size: 14px;
}

.login-wrapper__form__submit-button {
    width: 91px;
    height: 39px;
    font-size: 16px;
    padding: 6px 10px;
    align-self: flex-end;
    background-color: var(--button-background-color);
    border-style: none;
    transition: .3s;
}

.login-wrapper__form__submit-button:hover {
    cursor: pointer;
    background-color: var(--button-background-color-hover);
}